body {
    background-color: #9B9ECE;
    font-family: 'Courier New', Courier, monospace;
  }

 image.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  h1 {
    color: #555195;
    text-align: center;
  }

  h2 {
    color: #555195;
    text-align: center;
  }

  p.a {
    color: #e1e5ff;
    display: inline-block;
    text-align: center;
    
  }

  p.b {
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 14px;
  }

  ul {
    color: #ffffff;
    display: inline-block;
    list-style-position: outside;
    
  }

  a {
    color: #ffffff;
    display: inline-block;
    align-items: center;
  }

  a:hover {
    color:rgb(229, 156, 250);
  }

 .normal{
    border-style: double;
    width: 500px;
    margin: auto;
    text-align: center;
 }

 .child{
   text-align: center;
   border-style: double;
   margin: auto;
   width: 800px;
 } 

 .child.donuts{
  width: 580px;
 }


 .center.project{
  padding-bottom: 2px;
  padding-top: 3px;
 }

 iframe {
  display: block;
  border-style: none;
}
  