body {
    background-color: #03013e;
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
}

.center {
  display: block;
  max-width: 80%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

.me {
  display: block;
  max-width: 80%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-bottom: 20px;

}

.img-link {
  display: block;
  max-width: 60%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  transition: all .2s ease-in-out;
}

.img-link:hover {
  transform: scale(1.05);
}


h1 {
  color: #d6b3ec;
  text-align: center;
  padding-top: 5px;
  font-size: 270%;
}

h2 {
  color: #c494d0;
  text-align: center;
}

.programming {
  color: #b3b0fc;
}

h3 {
  color: #d8d5ff;
  text-align: center;
  font-weight: bold;
}

p {
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

p.b {
  color: #d8d5ff;
  display: inline-block;
  text-align: center;
  font-size: 90%;
}

p.c {
  color: #f7baff;
  display: inline-block;
  text-align: center;
  font-size: 90%;
}

ul {
  color: #ffffff;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
}

a {
  color: #ffffff;
  display: inline-block;
  align-items: center;
  padding-bottom: 1%;
}

.navbar {
  overflow: hidden;
  background-color:rgba(213, 162, 226, 0.708);
  position: sticky;
  top: 0;
  z-index: 5;
} 

a.navbar {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

a.navbar:hover {
  color: #ffffff;
  background-color: #4b42ce71;
}


a:hover {
  color:rgb(190, 181, 251);
}

@keyframes fadeInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.normal{
  border-style: solid;
  border-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  width: 55%;
  @media only screen and (max-width: 600px) {
    width: 85%;
  }
  margin: auto;
  text-align: center;
  background-color: #8c86c39e;
  animation: 2s both fadeInUp;
}

.child{
  text-align: center;
  border-style: solid;
  border-color: #39005c;
  background-color: #9d70b8aa;
  margin: auto;
  width: 50%;
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
  animation: 2s both fadeInUp;   
} 

.child.donuts{
  text-align: center;
  border-style: solid;
  border-color: #c1d1ff;
  background-color: #636ce2aa;
  margin: auto;
  width: 50%;
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
  animation: 2s both fadeInUp; 
}

.projects{
  text-align: right;
  border-style: solid;
  border-color: #39005c;
  background-color: #9d70b8aa;
  margin: auto;
  width: 50%;
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
  animation: 2s both fadeInUp;   
}

.title {
  animation: 2s both fadeInUp;   
}

iframe {
  display: inline-block;
  border-style: none;
  min-width: 90%;
}

footer {
  text-align: center;
  color: #ffffff;
  animation: 2s both fadeInUp; 
}

.download-button {
  background-color: rgba(213, 162, 226, 0.708);
  border: solid; 
  border-color: #d8d5ff;
  border-radius: 15px;
  color: #d8d5ff; 
  padding: 1% 2%; 
  margin-bottom: 2%;
  text-align: center; 
  text-decoration: none; 
  font-size: 20px; 
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.download-button:hover {
  background-color: #4b42ce71;
  border-color: #ffffff;
  color: #ffffff;
  transform: scale(1.15);
  box-shadow: 0 2px 8px 4px #26226a;
  
}


.progress-container {
  width: 100%;
  background: #1f17f3;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease;
}

figcaption {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 8px;
}

#contact {
  transition: all .2s ease-in-out;
}

#contact:hover {
  transform: scale(1.25);
}

::selection {
  background-color: #4a046d;
}

::-moz-selection {
  color: #ffffff;
}
  