body {
    /* background-color: #9B9ECE;
    background-image: url("others/background.jpg"); */
    background-image: url(others/stars\ background.gif);
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
  }

 img.center {
    display: block;
    max-width: 80%;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  h1 {
    color: #c88cee;
    text-align: center;
    padding-top: 2.5%;
  }

  h2 {
    color: #d76ef1;
    text-align: center;
  }

  p {
    color: #ffffff;
    display: inline-block;
    text-align: center;
  }

  p.b {
    color: #d8d5ff;
    display: inline-block;
    text-align: center;
    font-size: 90%;
  }

  ul {
    color: #ffffff;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
  }

  a {
    color: #ffffff;
    display: inline-block;
    align-items: center;
    padding-bottom: 1%;
  }

  .navbar {
    overflow: hidden;
    background-color:rgba(184, 109, 203, 0.708);
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  a.navbar {
    float: left;
    display: contents;
    color: #000000;
    font-size: 120%;
    background-color: rgba(184, 109, 203, 0.574);
    padding-top: 1%;
    padding-bottom: 1%;
  
  }

  a.navbar:hover {
    color: #ffffff;
    background-color: #555195;
  }

  a:hover {
    color:rgb(124, 46, 145);
  }

 .normal{
    border-style: double;
    width: 65%;
    margin: auto;
    text-align: center;
    padding-top: 1%;
    background-color: #5d569d9e;
 }

 .child{
   text-align: center;
   border-style: double;
   background-color: #7b5195aa;
   margin: auto;
   width: 65%;
 } 

 .child.donuts{
  width: 60%;
 }

 iframe {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  color: #ffffff;
}
  