body {
    background-color: #9B9ECE;
    font-family: 'Courier New', Courier, monospace;
  }

 img.center {
    display: block;
    max-width: 80%;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  h1 {
    color: #7b5195;
    text-align: center;
  }

  h2 {
    color: #555195;
    text-align: center;
  }

  p {
    color: #ffffff;
    display: inline-block;
    text-align: center;
  }

  p.b {
    color: #332e77;
    display: inline-block;
    text-align: center;
    font-size: 80%;
  }

  ul {
    color: #ffffff;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
  }

  a {
    color: #ffffff;
    display: inline-block;
    align-items: center;
    padding-bottom: 1%;
  }

  .navbar {
    overflow: hidden;
    background-color:rgba(184, 109, 203, 0.542);
  }

  a.navbar {
    float: none;
    display: inline-block;
    color: #000000;
    text-align: center;
    font-size: 120%;
    background-color: rgba(184, 109, 203, 0);
    padding-top: 1%;
    padding-bottom: 1%;
  }

  a.navbar:hover {
    color: #ffffff;
    background-color: #555195;
  }

  a:hover {
    color:rgb(124, 46, 145);
  }

 .normal{
    border-style: double;
    width: 45%;
    margin: auto;
    text-align: center;
    padding-top: 1%;
 }

 .child{
   text-align: center;
   border-style: double;
   margin: auto;
   width: 65%;
 } 

 .child.donuts{
  width: 55%;
 }

 iframe {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}
  